{{ define "main" }}
    <main aria-role="main">
      <header class="homepage-header">
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
      </header>
      <div class="homepage-content">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
      </div>
      <div>
        {{ range first 10 .Site.RegularPages }}
            {{ .Render "summary"}}
        {{ end }}
      </div>
      <div>
       
        {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" site.Params.mainSections) }}
    
	{{ range $paginator.Pages }}
		<h2>{{ .Title }}{{ if .Draft }} ::Draft{{ end }}</h2>
		{{ .Description | plainify | safeHTML }}
		<a href="{{ .Permalink }}"> Read More.</a>
	{{ end }}
   

      </div>
    </main>
{{ end }}